img.blueD:hover {
    font-size: 300%;
    transform: rotate(-40deg);
  }
  .blueD {
  box-shadow: 4px 2px 6px #010101;
  margin:200px;
}
  img.orangeD:hover {
  font-size: 500%;
  transform: rotate(0.8turn);
}
  .orangeD {
  box-shadow: 4px 2px 6px #010101;
  margin:200px;
  height: 450px;
  }
  img.yellowD:hover {
  font-size: 600%;
  transform: rotate(40deg);
  }
  .yellowD {
  box-shadow: 4px 2px 6px #010101;
  margin:200px;
  } 
@media only screen and (max-width: 961px) {
   header {
     display: flex;
     flex-direction: column;
   }
   container {
     display: flex;
   flex-direction: column;
 }
}