body {
    font-family: 'Montserrat', sans-serif;
 }

 .top-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1505377059067-e285a7bac49b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    margin: 5px;
    }
.top-text {
    text-align: left;
  position: absolute;
  top: 60%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: medium;
    }
 .reviewImg {
    display:block;
    position:relative;
    height: 650px;
    width: 101%;
    }

    .grid1 {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    .item1 {
        display: flex;
        margin-left: 280px;
    }
    #item2 {

        
    }
     hr.rounded {
        border-top: 8px solid rgb(136, 131, 131);
        border-radius: 5px;
        margin-left: 15px;
    }
    .reviewSS {
        height: 300px;
        margin: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
    }
    .reviewS {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        height: 375px;
        margin: 15px;
    }
    .insta {
        align-items: center;
        justify-items: center;
    }
    .item3 {
     
        
    }
    .item4 {
        align-items: center;
        
    }
    [data-component="slideshow"] .slide {
        display: none;
      text-align: center;
    }
    
    [data-component="slideshow"] .active {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        display: block;
    }
    .reviewSlide {
        height: 300px;
        margin: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
         
    }
    .instaSlide {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        height: 375px;
        margin: 15px; 
    }
    .twitSlide {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        height: 150px; 
     margin: 15px; 
    }
    .instaGrid {
        align-items: center;
        display: grid;
        justify-items: center;
    }
    .item6 {
        margin: 10px;
    }
    .twit {
     height: 150px; 
     margin: 15px;  
    }
    .item7 {
margin-left: 150px;
    }
 @media only screen and (max-width: 961px) {
    header {
      display: flex;
      flex-direction: column;
    }
    container {
      display: flex;
    flex-direction: column;
  }
}