body {
    font-family: 'Montserrat', sans-serif;
 }

 .top-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1505377059067-e285a7bac49b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 2px 6px #010101;
    opacity: .9;
    position: relative;
    height: 50vh;
    margin: 5px;
    text-shadow: 2px 2px darkcyan;
    }
.top-text {
    text-align: left;
    height: 200px;
  position: absolute;
  margin-top: 150px;
  margin-left: 950px;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  width: 1700px;
    }
.textAtTop {
    color: blueviolet;
    display: block;
    font-size: xx-large;
    margin-left: -20px;
    margin-top: 220px;
    padding: 20px;
    text-align: center;
    text-shadow: 3px 3px #5485dfb7;
    width: 300px;
}
.textAtTopRight {
    color: blueviolet;
    display: block;
    font-size: xx-large;
    margin-left: 950px;
    margin-top: -430px;
    text-align: center;
    text-shadow: 3px 3px #5485dfb7;
    width: 300px;
}
.textAtMid {
    color: rgb(34, 233, 117);
    display: block;
    font-size: xx-large;
    margin-top: 40px;
    text-align: center;
    text-shadow: 3px 3px #1347a7b7;
}
.textAtMidBottom {
    color: rgb(34, 233, 117);
    font-size: xx-large;
    margin-top: -10px;
    text-shadow: 3px 3px #1347a7b7;
    margin-left: 700px;
}
.textAtBottom {
    color: blueviolet;
    display: block;
    font-size: xx-large;
    margin-top: 50px;
    text-align: center;
    text-shadow: 3px 3px #5485dfb7;
}
 .reviewImg1 {
  padding: 100px;
  margin-left: -100px;
    }
    .reviewImg2 {
    padding: 100px;
    margin-left: 360px;
    margin-top: -565px;
        }
    .flexLine {
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 15px;
    }
     hr.rounded {
        border-top: 10px solid rgb(136, 131, 131);
        box-shadow:  1px 1px rgba(125, 231, 38, 0.753); 
        border-radius: 5px;
        margin-left: 15px;
    }
    .reviewSS {
        height: 400px;
        margin-top: 20px;
        padding: 20px;
          
    }
    .reviewS {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        height: 500px;
        margin: 15px;
    }
    .pushDown {
        margin-top: 120px;
        margin-left: -80px;
    }
    .item4 {
        align-items: center;
        
    }
    [data-component="slideshow"] .slide {
        display: none;
    }
    
    [data-component="slideshow"] .active {
        display: block;
    }
    .reviewSlide {
        height: 400px;
        margin: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);   
    }
    .instaSlide {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        height: 500px;
        margin: 15px; 
        width: 425px;
    }
    .twitSlide {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        height: 200px; 
     margin: 15px; 
    }
    .item6 {
        margin: 10px;
    }
    .twit {
     height: 200px; 
     margin: 15px;  
    }
    .reviewInstaImg1 {
        margin-left: 0px;
        
    } 
    .reviewInstaImg2 {
        margin-left: 455px;
        margin-top: -534px;
    } 
    .reviewTwitImg2 {
        margin-left: 420px;
        margin-top: -224px;
    } 
 @media only screen and (max-width: 961px) {
    header {
      display: flex;
      flex-direction: column;
    }
    container {
      display: flex;
    flex-direction: column;
  }
}