.container {
    align-items: center;
}

.header__nav_list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.header__nav_list button {
    background-color: blue;
    border-radius: 4px;
    color: red;
    margin-left: 5px;
    padding: 10px;
}

.header__nav_list button:hover {
    background-color: blueviolet;
    color: yellowgreen;
}

.home__page_header {
    color:purple;
}

.footer {
    color: rgb(147, 230, 99);
}